.cardContainer {
    margin-left: 10px;
    height: 76vh;
    width: 74vh;
    position: fixed;
}

.accordion {
    border: none;
    background-color: white;
    height: 62vh; 
    width: 68vh;
    overflow-y: scroll;
}

.ticketImage {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 5px 5px 5px 0;
    border: 1px solid grey;
}

.KioskAlert {
    height:30px;
    margin-bottom:10px;
    padding:5px;
    border:1px solid rgb(228, 233, 228);
}

.imageModal {
    width: 470px;
    height: 470px;     
}

.KioskAlert:nth-of-type(1) .blink-image,.KioskAlert:nth-of-type(2) .blink-image{
    font-weight: bolder;
    height: 10px;
    width: 10px;
    background-color: rgb(54, 168, 59);
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
 
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
 
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
 