.imageView img {
    padding: 15px;
    cursor: pointer;
}
.imageView{
    display: inline-block;
    width: 32%;
}
.intoicon {
    position: absolute;
    margin-top: 12px;
    z-index: 999;
    margin-left: -29px;
    color: white;
    cursor: pointer;
}