.container {
    margin-left: 200px;
    background-color: rgb(246, 246, 246);
    padding: 30px;
    height: 82%;
    width: 86%;
    position: fixed;
}

.addUser {
    font-size: 26px;
    color:#1890ff;
}
