.App {
    font-family: sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #3f5a78;
  }
  
  .loginForm {
    max-width: 500px;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(170, 168, 168);
    margin: 0 auto;
    margin-top: 10%;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    color:#3f5a78;
    margin-bottom: 5px;
    height: 22px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .loginBtn {
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #3f5a78;
    color: white;
    border: 1px solid #3f5a78;
    background-color: 250ms;
  }
  
  .loginBtn:hover {
    cursor: pointer;
    background-color: #567495;
    color: white;
  }
  