.header {
    width: 100%;
    height: 80px;
    background-color: #001529;
}

.headerTitle {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 226, 233);
}

.AccionLogo {
    width: 12%;
    margin-left: -4%;
}

.logout {
    margin-top: 20px;
    float: right;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 226, 233);
}