.textcapitalize{
        text-transform: capitalize;
}
.tableview .ant-table-fixed{
        width: 100% !important;
}
.labelSpan , .inputSpan{
        display:inline-block;
}
.inputSpan{
        margin-right: 10px;
}
.ticketImage {
        width: 100px;
        height: 100px;
        padding: 10px;
        margin-left: 10px;
        border: 1px solid grey;
}

.imageModal {
        width: 470px;
        height: 470px;     
}