* {
	padding: 0;
	margin: 0
}

.rigth-div{
	min-height: 1135px;
}
body {
	font-family: 'Barlow', sans-serif;
	color: #000000;
}
.logo-url{
	width: 100% !important;
	height: 160px;
	min-height: 160px;
}
.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	min-height: 1185px;
}

.left-content {
	width: 50%;
	padding-top: 40px;
	margin-right: 14px;
}

.clear {
	clear: both;
}

.thanks-wrapper {
	background-color: #f3f3f3;
	padding: 5px 60px 10px 20px;
	margin-top: 20px;
	font-weight: 500;
	text-align: justify;
	letter-spacing: 0.9px;
}

.logo {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.loc-details {
	align-items: center;
	font-size: 11px;
	font-weight: 500;
	margin-top: 10px ;
}

.loc-details-logo {
	width: 35px;
	margin-right: 10px;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px !important;
}
.loction{
	margin-left: 60px;
}
.address {
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px !important;
	text-align: left;
}

.main-address {
	font-weight: 500;
	font-size: 16px;
}

.events-wrapper {
	background: #f3f3f3;
	margin-top: 10px;
	box-shadow: 0 1px 5px 0px #9d9d9d;
	min-height: 510px;
}
.fristdiv{
	min-height: 430px;
	max-height: 430px;
}
.edit-wrapper {
	padding: 20px 0px 0px 63px;
}

.edit-details {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.edit-logo {
	width: 20px;
    margin-right: 10px;
}

sup {
	margin-top: -15px;
	margin-right: 10px;
}

.live-time {
	font-weight: bold;
	font-size: 16px;
}

.time-wrapper {
	margin-top: 5px;
	position: relative;
}

.sub-title {
	font-weight: bold;
	font-size: 16px;
	color: #666666;
}

.call {
	margin-top: 40px;
	font-size: 18px;
	font-weight: normal;
}

.summit {
	color: #666666;
	font-weight: bold;
	margin-top: 10px;
	font-size: 18px;
}

.call-wrapper {
	display: flex;
	align-items: center;
	margin-top: 30px;
	font-size: 18px;
	color: #666666;
	font-weight: 500;
}

.circle {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background: #434343;
	margin-right: 30px;
}

.right-content {
	width: 50%;
	background: #f3f3f3;
	box-shadow: 0 1px 5px 0px #9d9d9d;
	position: relative;
}

.events-wrapper1 {
	padding: 20px 20px 20px 63px;
	margin-top: 10px;
}

.edit-margin {
	margin-top: 30px;
}

.dep {
	color: #666666;
}

 .pdffooter{
	position: relative;
	background: #eeeeee;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}

.accion-logo {
	width: 200px;
}

.footer-heading {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}

.footer-address {
	font-size: 16px;
	font-weight: 400;
}

.arrival-head {
	font-size: 16px;
	text-align: center;
	margin-bottom: 0px;
	padding-top: 10px;
}

.helpdesk {
	color: #888888;
	font-size: 15px;
}

.yoga-image {
	width: 30px;
	float: left;
	margin-right: 20px;
}

.yoga-wrapper {
	padding: 20px;
	font-size: 16px;
	color: #888888;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.plane {
	position: absolute;
	left: -51px;
	width: 40px;
	top: 33px;
}

.wish-heading {
	margin-top: 150px;
	font-size: 17px;
	text-align: center;
	padding-bottom: 20px;
}

.summit-wrapper {
	background: #d9d9d9;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	box-shadow: 0 1px 5px 0px #9d9d9d;
	min-height: 220px;
}

.flag {
	width: 30px;
    float: left;
    margin-right: 20px;
}

.summit-heading {
	font-size: 18px;
	color: #494343;
	font-weight: bold;
}

.name-summit {
	color: #4c195f;
    font-size: 15px;
    padding-right: 10px;
    padding-top: 10px;
	display: inline-block;
    width: 50%;
}

.need-help {
	color: #494343;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 18px;
}

.group-sub-name {
	font-size: 15px;
	font-weight: 500;
}

.group-sub-phone {
	color: #494343;
	font-weight: 400;
	font-size: 14px;
}

.group-sub {
	float: left;
	margin-right: 15px;
	white-space: nowrap;
}

.group-wrapper {
	display: flex;
}